* {
    margin: 0;
    padding: 0;
}
/*NAV = CONTENU DU MENU*/
nav{
    background: rgb(168, 193, 193) ;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    margin : 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
}
nav ul li a img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
nav ul li {
    display: inline;
    position: relative;
}
nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    text-align: center;
    min-width: 100px;
}


nav ul li ul.dropdown li{
    display: block;
}

nav ul li ul.dropdown {
    width: 100%;
    background-color: rgb(21, 21, 21);
    position: absolute;
    z-index: 999;
    display: none;
}

nav ul li ul.dropdown a{
    color: white;
}

nav ul li ul.dropdown a:hover{
    background-color: rgb(62, 62, 62);
}

nav ul li a:hover{
    color: rgb(255, 255, 255);
}
nav ul li:hover ul.dropdown{
    display: block;
}
/* Sous-menu 2 */
nav ul li ul.sousmenu2 {
    position: absolute;
    left: 100%;   /* décale le sous-menu à droite du premier */
    top: 0;
    background-color: rgb(21, 21, 21);
    display: none;
    min-width: 100px;
}

/* Affiche le sous-sous-menu quand on survole l'élément parent */
nav ul li ul.dropdown li:hover ul.sousmenu2 {
    display: block;
}


nav ul li ul.sousmenu2 li a:hover {
    background: rgb(62, 62, 62);
}




/* Bouton hamburger */
.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
}





/*BODY → CONTENU DE LA PAGE*/

html, body {
    height: 100%;
}
body{
    display :flex;
    flex-direction: column;
}

.content{
    flex:1; /*le contenu prend tout l'espace dispo*/
}










.accueil_titre{
    height: 800px;
    background-image: url("images/rda(22).webp");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Titre */
.accueil_titre h1 {
    position: relative;   
    z-index: 2;
    color: white;
    font-size: 4rem;
    text-align: center;
}


.accueil_titre::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}


.bloc_centre {
    background: white;
    padding: 5% 20% 0% 20%;
}

.accueil_texte_refuge h2{
    padding: 10px 0;
    font-size: 2rem;
}
.accueil_img_calendrier {
    width: 100%;
    height: auto;
}
.accueil_texte_calendrier{
    text-align: center;
}
.accueil_texte_sous_image{
    color: gray;
    font-size: 14px;
}
.accueil_categorie_animaux{
    display: flex;
}

.accueil_icone_chien{
    width: 100px;
}






























































/*FOOTER*/

footer{
    background-color:rgb(168, 193, 193) ;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-around;
}
footer a img{
    width: 100px;
    height: 100px;
}
.logo a img{
    border-radius: 50%;
}
.reseauxsociaux img{
    width: 50px;
    height: auto;
}









/* Responsive */
@media screen and (max-width: 700px) {

    nav {
        position: relative;
    }

    /* Affiche le bouton */
    .menu-toggle {
        display: block;
    }

    /* Menu caché par défaut */
    nav ul.menu {
        display: none;
        flex-direction: column;
        background: rgb(168, 193, 193);
        width: 100%;
    }

    /* Menu visible quand actif */
    nav ul.menu.active {
        display: flex;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li ul.dropdown,
    nav ul li ul.sousmenu2 {
        position: static;
        display: none;
        background: rgb(21, 21, 21);
    }

    nav ul li.open > ul {
        display: block;
    }

    .bloc_centre{
        padding: 25px 10px;
    }
}