* {
    margin: 0;
    padding: 0;
}
/*NAV = CONTENU DU MENU*/
nav{
    background: rgb(168, 193, 193) ;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    margin : 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
}
nav ul li a img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
nav ul li {
    display: inline;
    position: relative;
}
nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    text-align: center;
}


nav ul li ul.dropdown li{
    display: block;
}
nav ul li ul.dropdown {
    width: 100%;
    background-color: rgb(21, 21, 21);
    position: absolute;
    z-index: 999;
    display: none;
}
nav ul li ul.dropdown a{
    color: white;
}
nav ul li ul.dropdown a:hover{
    background-color: rgb(62, 62, 62);
}

nav ul li a:hover{
    color: rgb(255, 255, 255);
}
nav ul li:hover ul.dropdown{
    display: block;
}




/*BODY → CONTENU DE LA PAGE*/

html, body {
    height: 100%;
}
body{
    display :flex;
    flex-direction: column;
}

.content{
    flex:1; /*le contenu prend tout l'espace dispo*/
}


/*FOOTER*/

footer{
    background-color:rgb(168, 193, 193) ;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-around;
}
footer a img{
    width: 100px;
    height: 100px;
}

.reseauxsociaux img{
    width: 50px;
    height: auto;
}